.jumbotron{
	padding-top: 70px;
	background-color: #silver;
}


#gallery{
	background-color: #silver;
}

footer a{
	text-decoration: none;
	color: white;
}

footer{
	padding-bottom: 20px;
}

section{
	padding-top: 70px;
}